@import common
@import 909
@import ribbon
@import keyboard

main
  flex: 1
  display: grid
  grid-template: 6vmin 1fr 10vmin / 1fr
  position: relative

  > div.top
    display: flex
    align-items: center
    justify-content: center
    color: black
    text-shadow: 0 0 1px rgba(white, 0.4)

  > div.wrapper
    display: flex
    position: relative

    > div.tr-909
      top: 50%
      left: 50%
      transform: translate(-50%, -50%) scale(var(--scale))
      position: absolute

  > div.top
    position: relative

    > canvas.meter
      padding: 3px 0
      border-radius: 3px
      background-color: rgba(black, 0.06)
      box-shadow: 0 0 1px 0 rgba(black, 0.1) inset
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)

  > footer
    display: flex
    align-items: center
    justify-content: center
    column-gap: 2vmin

    > a
      color: rgba(black, 0.4)
      background-repeat: no-repeat
      background-position-x: 200%
      background-position-y: center
      background-size: 16%
      background-color: $COLOR_CHASSIS
      padding: 0.5vmin 1vmin
      border-radius: 0.5vmin
      font-size: 1.2vmin
      text-decoration: none
      pointer-events: all
      text-transform: uppercase
      box-shadow: 0 2px 2px -2px rgba(black, 0.6)
      transition: all 200ms ease-in

      &.new-window
        background-repeat: no-repeat
        background-position-x: calc(100% - 0.7vmin)
        background-position-y: calc(50% - 0.08vmin)
        background-size: 1.6vmin
        background-image: url('../svg/link.svg')
        padding: 0.5vmin 2.5vmin 0.5vmin 1vmin

      &.active
        background-repeat: no-repeat
        background-position-x: calc(100% - 0.5vmin)
        background-position-y: center
        background-size: 1.5vmin
        background-image: url('../svg/close.svg')
        padding: 0.5vmin 2.5vmin 0.5vmin 1vmin

div.working
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  width: 100%
  height: 100%
  position: absolute
  background-color: rgba(black, 0.5)
  pointer-events: all

  > small
    margin: 0
    padding: 0
    letter-spacing: 0.3em

div.components
  margin: 0 auto
  padding: 12vmin
  border-radius: 8px
  display: flex
  flex-direction: column
  gap: 16px
  grid-auto-flow: column

  > div
    display: flex
    column-gap: 20px
    padding: 40px
    width: fit-content
    height: fit-content
    background: radial-gradient(at 50% 0, rgba(white, 0.25), transparent), linear-gradient(to bottom, darken($COLOR_CHASSIS, 4), darken($COLOR_CHASSIS, 8))

    > *
      position: relative
