@import common
@import 909

main
  width: 100vmax
  height: 100vmin
  display: grid
  grid-template: 8vmin 1fr 8vmin / 1fr
  transform: rotate(0deg)
  position: relative

  @media (orientation: portrait)
    transform: rotate(90deg)

  > div.wrapper
    grid-area: 2 / 1 / 3 / 2
    position: relative
    display: flex
    align-items: center
    justify-content: center

    > div.tr-909
      top: 50%
      bottom: 50%
      transform: translate(0, -50%) scale(var(--scale))
      position: absolute

  > canvas.meter
    padding: 3px 0
    border-radius: 3px
    background-color: rgba(black, 0.06)
    box-shadow: 0 0 1px 0 rgba(black, 0.1) inset
    position: absolute
    left: 50%
    bottom: 3px
    transform: translate(-50%, 0)

div.components
  padding: 16vmin
  border-radius: 8px
  background: radial-gradient(at 50% 0, rgba(white, 0.25), transparent), linear-gradient(to bottom, darken($COLOR_CHASSIS, 4), darken($COLOR_CHASSIS, 8))
  display: grid
  gap: 16px
  grid-auto-flow: column

  > *
    position: relative
